<div class="container text-center mt-3 mb-3 col-md8">
    <form class =" card bg-light ml-3 mr-3" action="/toy/add" method="post">
    <h1 class="text text-primary mt-2 mb-2"> Add new toy</h1>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Name</label>
            <input class="form-control" type="text" name = "name" required minlength="3" maxlength=" 100">
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Type</label>
            <input class="form-control" type="text" name="type" required minlength="1" maxlength="1000">
        </div>
        <div class="form-group mt-2 mb-2">
            <label  class="fw-bold"for="">Quantity</label>
            <input  class="form-control" type="number" name = "quantity" required minlength="3" maxlength=" 100">
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Price</label>
            <input class="form-control" type="number" name = "price" required minlength="3" maxlength=" 100">
        </div>
        <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Image</label>
            <input class="form-control" type="text" name = "image" required>
        </div>

        



        



        {{!-- <div class="form-group mt-2 mb-2">
            <label class="fw-bold" for="">Brand</label>
            <select id="brand" name="brand"> 
                <option> LEGO </option>
                <option> Figure </option>
                <option> Gundame </option>
            </select>
        </div> --}}


        {{!-- <div class="form-group mt-2 mb-2">
         <label class="fw-bold" for="">Toy video</label>
         <input class="form-control" type="text" name="video" required>
         </div> --}}
        <div class="form-group mt-2 mb-2">
            <input class="btn btn-secondary" type="submit" value="Add">
        </div>
    </form>
</div>