<div class="container text-center">
   <h1 class="text text-warning mb-2">Order List</h1>
   <a class="btn btn-secondary" href="/order/add">Add Order</a>
   <div class="row mt-3 mb-3">
      <div class="col">
         <a class="btn btn-primary" href="/order/sort/asc">Sort customer name ascending</a>
         <a class="btn btn-warning" href="/order/sort/desc">Sort customer name descending</a>     
         
      </div>
      <div class="col md-4">
         <form action="/order/search" method="post">
            <input class="form-control" type="search" name="customer_name" placeholder="Search by customer name" required>
            
         </form>
      </div>
   </div>
   <div class="card-group">
      <div class="row">
         {{#each orders }}
         <div class="card col-md-3 mb-3">
            <div class="card-body">
               <h2 class="card-title text-success">{{ customer_name }}</h2>
               <p class="fw-bold card-text text-primary">{{ product_name }}</p>
             
               <form action="/order/detail" method="post">
                 <input type="hidden" name="id" value="{{_id}}">
                 <input type="submit" class="btn btn-danger" value="Show"/>
                          <a class="btn btn-secondary" href="/order/delete/{{_id}}"
         onclick="return confirm('Do you want to delete this product ?');"
         >Delete</a>
               </form>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</div>